<h1>Edit Board Name</h1>

<div class="form">
  <%= form_for @board do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.hidden_field :author, value: current_user.email %>

  <%= f.submit "Change Board Name!" %>
  <% end %>
</div>
