<% if current_user %>

<h1><%= @board.title %></h1>
<% if @board.author == current_user.email %>
<%= link_to "Change Board Name", edit_board_path(@board) %>
<br>
<%= link_to "New Pin", new_board_pin_path(@board) %>
<br>
<%= link_to "Blow up this board", @board, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<table>
  <% @board.pins.each do |pin| %>
  <tr>
    <td><%= "#{pin.title}" %></td>
    <td><%= image_tag pin.image_url %></td>
    <% if @board.author == current_user.email %>
    <td><%= link_to "Unpin this", board_pin_path(@board, pin), method: :delete, data: {confirm: "Are you sure you want to unpin this?"} %></td>
    <%= link_to "new tag", new_board_pin_tag_path(@board, pin) %>
    <% end %>
  </tr>
  <% end %>
</table>

<h3>Tags</h3>


<br>

<% else %>
<h1><%= @board.title %></h1>
<table>
  <% @board.pins.each do |pin| %>
  <tr>
    <td><%= "#{pin.title}" %></td>
    <td><%= image_tag pin.image_url %></td>
    <% end %>
  </tr>
  <% end %>
</table>
